<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><strong>Name:</strong> <%= name %></p>
    <p><strong>Gender:</strong> <%= gender %></p>
    <p><strong>Height:</strong> <%= height %></p>
    <p><strong>Hair Color:</strong> <%= hair_color %></p>
    <p><strong>Skin Color:</strong> <%= skin_color %></p>
    <p><strong>Eye Color:</strong> <%= eye_color %></p>
  </body>
</html>
